.footer {
  font-family: $fontFamily;
  bottom: 0;
  margin: 0 auto;
  color: #a9a9a9;
  font-size: 14px;
  line-height: 17px;
  height: 50px;

  &__username {
    font-weight: bold;
    border-bottom: 1px solid #a9a9a9;
    cursor: pointer;
  }
  &__link {
    text-decoration: none;
    color: #a9a9a9;
    cursor: pointer;
  }
}